@import "tailwindcss";

@font-face {
  font-family: "Quantico";
  src: url("./assets/fonts/Quantico-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Mohave";
  src: url("./assets/fonts/Mohave-VariableFont_wght.ttf") format("truetype");
}

@theme {
    --font-logo: "Quantico";
    --font-primary: "Mohave";

    --color-primary: #40BEEF;
    --color-primary-500: #1590bf;
    --color-primary-900: #161427;
    --color-primary-foreground: #E7E7E7;

    --color-background: #0E0D19;
    --color-secondary-foreground: #D7D7D7;

    --color-muted: #211f33;
    --color-secondary-muted: #4e4b6b;

    --color-accent: #00ff7b;
    --color-accent-foreground: #001203;

    --spacing-timeline: 17rem;
    --spacing-timeline-gap: 11rem;

    --shadow-3xl: 0 0px 0px 4px rgba(0, 0, 0, 0.6);
    --tracking-tighter: -.2rem;
}

body {
    background: linear-gradient(45deg, var(--color-background) 10%, var(--color-primary-900) 30%, var(--color-background) 50%, var(--color-primary-900) 70%, var(--color-background) 90%);
    color: var(--color-secondary-foreground);
    font-family: var(--font-primary);
}

/* First section's line starts from the dot, not the top */
section:first-child > .timeline-line {
    top: auto;
    height: calc(100% - var(--spacing-timeline-gap));
}